@import "~@/uni_modules/uview-ui/theme.scss";

$u-primary: #8ac6d1;
$u-primary_rgb: 138, 198, 209;
$u-success: #07c160;
$u-success_rgb: 7, 193, 96;
$u-warning: #f78b1e;
$u-warning_rgb: 247, 139, 30;
$u-error: #fc3b3b;
$u-error_rgb: 252, 59, 59;

$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909193;
$u-light-color: #c0c4cc;
$u-border-color: #e9eaf1;
$u-bg-color: #f6f6f6;
$u--bg-color: #ffffff;
$u-disabled-color: #c8c9cc;

// 预留深色模式颜色 (uView暂不支持颜色动态切换)
// $u-main-color: #ffffff;
// $u-content-color: #bbbbbb;
// $u-tips-color: #7b7b7b;
// $u-light-color: #474747;
// $u-border-color: #292a31;
// $u-bg-color: #13141b;
// $u--bg-color: #1e202d;
// $u-disabled-color: #212121;