@import "~@/uni_modules/uview-ui/theme.scss";

$app-color-accent: #8ac6d1;
$app-color-accent_rgb: 138, 198, 209;
$app-color-accent--dark: #4f9ca9;
$app-color-accent--disabled: #9dc9d3;
$app-color-accent--light: #c2cdd0;

$u-primary: $app-color-accent;
$u-primary-dark: $app-color-accent--dark;
$u-primary-disabled: $app-color-accent--disabled;
$u-primary-light: $app-color-accent--light;

$u-error: #fc3b3b;
$u-error_rgb: 252, 59, 59;

$u-warning: #f78b1e;
$u-warning_rgb: 247, 139, 30;

$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909193;
$u-light-color: #c0c4cc;
$u-border-color: #e9eaf1;
$u-bg-color: #f6f6f6;
$u--bg-color: #ffffff;
$u-disabled-color: #c8c9cc;

// 预留深色模式颜色 (uView暂不支持颜色动态切换)
// $u-main-color: #ffffff;
// $u-content-color: #bbbbbb;
// $u-tips-color: #7b7b7b;
// $u-light-color: #474747;
// $u-border-color: #292a31;
// $u-bg-color: #13141b;
// $u--bg-color: #1e202d;
// $u-disabled-color: #212121;