.app-text-justify {
  text-align: justify;
  text-align-last: justify;
  overflow: hidden;

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

.app-image {
  .u-transition,
  .u-image,
  .u-image__image,
  .u-image__loading,
  .u-image__error {
    width: 100% !important;
    height: 100% !important;
  }

  .u-image__loading,
  .u-image__error {
    color: var(--color-txt-tertiary) !important;
    background-color: var(--color-bg-normal) !important;
  }

  .u-icon__icon {
    font-size: 44rpx !important;
  }
}

.app-popup, .app-modal, .app-picker, .app-calendar-picker {
  .u-popup {
    > .u-transition:first-child {
      background-color: var(--app-mask__body_background) !important;
    }
  }

  .u-popup__content {
    background-color: var(--color-bg-primary) !important;
  }

  .u-popup__content__close {
    .u-icon__icon {
      font-size: 44rpx !important;
      font-weight: normal !important;
      color: var(--color-txt-tertiary) !important;
    }
  }
}

.app-scroller {
  .zp-l-container, .zp-empty-view {
    position: relative;
    z-index: 3;
  }

  .zp-paging-container-content {
    .zp-safe-area-placeholder {
      height: 0 !important;
    }

    &:last-child {
      .zp-safe-area-placeholder {
        height: var(--app-scroller__cushion_height) !important;
      }
    }
  }

  .zp-back-to-top {
    right: var(--app-scroller__bktop_right) !important;
    width: var(--app-scroller__bktop_size) !important;
    height: var(--app-scroller__bktop_size) !important;
    z-index: var(--app-scroller__bktop_zindex) !important;
    transition-property: bottom !important;
    transition-duration: 0.3s !important;
    transition-timing-function: ease-out;
  }

  .zp-back-to-top-show {
    bottom: calc(var(--app-scroller__bktop_bottom) + var(--app-scroller__cushion_height)) !important;
  }

  .zp-back-to-top-hide {
    bottom: calc(0px - var(--app-scroller__bktop_bottom) - var(--app-scroller__cushion_height) - var(--app-scroller__bktop_size)) !important;
    opacity: 1 !important;
  }
}