.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: var(--app-main__txt_size);
  font-weight: var(--app-main__txt_weight);
  font-family: MiSans, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  line-height: var(--app-main__txt_lheight);
  color: var(--app-main__txt_color);
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    color: transparent;
  }
}

.app-text-justify {
  text-align: justify;
  text-align-last: justify;
  overflow: hidden;

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

.app-buttons {
  display: flex;

  &.horizontal {
    flex-direction: row;

    .app-button {
      flex: 1;

      & + .app-button {
        margin-left: 34rpx;
      }
    }
  }

  &.vertical {
    flex-direction: column;

    .app-button {
      width: 100%;

      & + .app-button {
        margin-top: 20rpx;
      }
    }
  }
}

.app-button {
  .u-button {
    height: 88rpx !important;
    padding: 0 10rpx !important;
    border-width: 2rpx !important;
    border-radius: 16rpx !important;
  }

  .u-button__text {
    font-size: 30rpx !important;
  }

  .u-icon__img {
    width: 40rpx !important;
    height: 40rpx !important;
    margin-right: 16rpx !important;
  }

  &.primary {
    .u-button {
      color: #ffffff !important;
      background-color: var(--color-accent) !important;
      border-color: var(--color-accent) !important;
    }

    .u-button--disabled {
      background-color: var(--color-disabled) !important;
      border-color: var(--color-disabled) !important;
      opacity: 1 !important;
    }

    &.danger {
      .u-button {
        background-color: var(--color-danger) !important;
        border-color: var(--color-danger) !important;
      }
    }
  }

  &.plain {
    .u-button {
      color: var(--color-accent) !important;
      background-color: transparent !important;
      border-color: var(--color-accent) !important;
    }

    &.danger {
      .u-button {
        color: var(--color-danger) !important;
        border-color: var(--color-danger) !important;
      }
    }
  }

  &.cancel {
    .u-button {
      color: var(--color-txt-secondary) !important;
      background-color: transparent !important;
      border-color: var(--app-button__body_bdcolor--cancel) !important;
    }
  }
}

.app-switch {
  .u-switch {
    border-color: transparent !important;
  }

  &.active {
    .u-switch,
    .u-switch__bg {
      background-color: var(--color-accent) !important;
      box-shadow: inset 0 0 6rpx 0 rgba(6, 89, 61, 0.5);
    }
  }

  &.inactive {
    .u-switch,
    .u-switch__bg {
      background-color: #ecf2ef !important;
      box-shadow: inset 0 0 10rpx 0 rgba(195, 214, 205, 0.5);
    }
  }

  .u-switch__node {
    background-color: var(--color-bg-primary) !important;
    box-shadow: 0 0 8rpx 0 rgba(100, 116, 108, 0.3), inset 0 0 6rpx 0 rgba(196, 220, 208, 0.15) !important;
  }
}

.app-image {
  .u-transition,
  .u-image,
  .u-image__image,
  .u-image__loading,
  .u-image__error {
    width: 100% !important;
    height: 100% !important;
  }

  .u-image__loading,
  .u-image__error {
    color: var(--color-txt-tertiary) !important;
    background-color: var(--color-bg-normal) !important;
  }

  .u-icon__icon {
    font-size: 44rpx !important;
  }
}

.app-popup, .app-modal, .app-picker, .app-calendar-picker {
  .u-popup {
    > .u-transition:first-child {
      background-color: var(--app-mask__body_background) !important;
    }
  }

  .u-popup__content {
    background-color: var(--color-bg-primary) !important;
  }

  .u-popup__content__close {
    .u-icon__icon {
      font-size: 44rpx !important;
      font-weight: normal !important;
      color: var(--color-txt-tertiary) !important;
    }
  }
}

.app-scroller {
  .zp-l-container, .zp-empty-view {
    position: relative;
    z-index: 3;
  }

  .zp-paging-container-content {
    .zp-safe-area-placeholder {
      height: 0 !important;
    }

    &:last-child {
      .zp-safe-area-placeholder {
        height: var(--app-scroller__cushion_height) !important;
      }
    }
  }

  .zp-back-to-top {
    right: var(--app-scroller__bktop_right) !important;
    width: var(--app-scroller__bktop_size) !important;
    height: var(--app-scroller__bktop_size) !important;
    z-index: var(--app-scroller__bktop_zindex) !important;
    transition-property: bottom !important;
    transition-duration: 0.3s !important;
    transition-timing-function: ease-out;
  }

  .zp-back-to-top-show {
    bottom: calc(var(--app-scroller__bktop_bottom) + var(--app-scroller__cushion_height)) !important;
  }

  .zp-back-to-top-hide {
    bottom: calc(0px - var(--app-scroller__bktop_bottom) - var(--app-scroller__cushion_height) - var(--app-scroller__bktop_size)) !important;
    opacity: 1 !important;
  }
}

.app-swipe-action {
  .u-swipe-action-item__content {
    background-color: var(--color-bg-primary) !important;
  }
}

.app-parse {
  video {
    width: 100% !important;
    height: 388rpx !important;
  }
}