page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

view, scroll-view {
  box-sizing: border-box;
}

view, image {
  flex-shrink: 0;
}

text, rich-text {
  word-break: break-all;
  overflow-wrap: break-word;
}

input, textarea {
  font-weight: normal;
  z-index: 0;
}

button::after {
  display: none;
}
